<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Zeiterfassungssystem KHRONOS!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image"/>
</div>


<h2>Weitere Links: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Urlaub</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">Abwesenheit</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Eigene Infos</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="#">Urlaubsfenster</a></h2>
  </li>
</ul>
<li aria-current="page"><a href="#">aktuelle Seite</a></li>